<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Tarefas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-item *ngFor="let item of lista">
     <h2>{{item.nome}}</h2>
     <!-- <p>{{item.concluida}}</p> -->
   </ion-item>
 </ion-list>

 <ion-fab right bottom>
   <button ion-fab color="primary" (click)="adicionar()">
     <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>
</ion-content>
