<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nova</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #form="ngForm" (submit)="salvar(form)">

    <ion-list>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input name="nome" ngModel type="text"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block>Salvar</button>

  </form>

</ion-content>
